.box {
  background: $body-bg;
  padding: 10px 40px 10px;
  margin: 0;
  display: inline-block;
  float: left;
  transition: border .25s ease;
  position: relative;
  width: calc(50% - 20px);
  max-width: 370px;
  position: relative;

  @include for(md down) {
    float: left;
    margin: 0 0 30px 0;
    width: calc(50% - 15px);
  }
  
  @media all and (min-width: 768px) and (max-width: 991px) {
    height: 165px;
  }


  @include for(sm down) {
    width: 100%;
  }

  &:nth-child(even) {
    margin-right: 0;
    
    @include for(md down) {
      margin-left: 15px;
    }
    @include for(sm down) {
      margin-left: 0;
    }
  }

  &:nth-child(odd) {
    @include for(md down) {
      margin-right: 15px;
    }
  }

  &:after {
    content: "\e901";
    font-family: "icons";
    color: $sand-light;
    font-size: 10px;
    text-align: center;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-top: 1px solid $sand-light;
    border-left: 1px solid $sand-light;
    background: $white;
    transition: border-top .25s ease, border-left .25s ease, background .25s ease, color .25s ease;
  }
  
  &:hover {
    border: 1px solid $primary-color;
    transition: border .25s ease;
    
    &:after {
      border-top: 1px solid $primary-color;
      border-left: 1px solid $primary-color;
      background: $primary-color;
      color: $white;
      transition: border-top .25s ease, border-left .25s ease, background .25s ease, color .25s ease;
    }
  }
/*      margin-left: 0.9375rem;
    margin-right: 0.9375rem;*/

  h2 {
    margin: 5px 0 3px;
    height: 48px;
    display: table-cell;
    vertical-align: middle;
    color: $primary-color;
    
    &.long {
      line-height: 20px;;
    }
    
    &:nth-of-type(2) {
      margin-top: 15px;
    }
  }
 
  p {
    color: $sand-dark;
    font-size: 13px;
    margin-bottom: 5px;
    line-height: 13px;
    margin: 3px 0 0;
    min-height: 26px;
  }
  
/*  a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
  }*/
}