.header {
  height: 185px;
  background: url(../images/header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 22px 0;
  color: $white;
  margin-bottom: 35px;
  
  .wrapper {
    height: 100%;
    display: table;

    h1 {
      color: $primary-color;
      margin: 0;
      display: table-cell;
      vertical-align: middle;
      padding-right: 370px;
      @include for(md down) {
        padding-right: 0;
      }
    }
  }
  
  @media print {
    display: none;
  }
}

.content {
  margin-bottom: 30px;
}

.drukuj_dane {
  display: inline-block;
  margin-top: 15px;
  padding-left: 70px;
  position: relative;
  color: $text-heading-color;
  font-family: $text-heading-family;
  font-weight: $text-heading-weight;
  line-height: 50px;
  max-width: 250px;
  color: $text-color;
  transition: color .25s ease;
  
  &:after {
      display: block;
      content: "\e901";
      font-family: "icons";
      color: $sand-light;
      border: 1px solid $sand-light;
      background: $slider-transparent;
      position: absolute;
      top: -2px;
      left: 0;
      width: 50px;
      height: 50px;
      font-size: 10px;
      text-align: center;
      line-height: 50px;
      transition: border .25s ease, background .25s ease, color .25s ease;
  }
  
  &:hover {
    color: $primary-color;
    transition: color .25s ease;
  }
  
  &:hover:after {
    border: 1px solid $primary-color;
    background: $primary-color;
    color: $white;
    transition: border .25s ease, background .25s ease, color .25s ease;
  }
  
}

#cookie-notice {
  background-color: rgba(0,0,0,.85) !important;
  
  a {
    font-weight: 600;
    color: $white;
  }
  
  .button {
    background: $black;
    width: auto;
    display: inline-block;
    margin: 0 0 0 1.25rem;
    padding: 0 1.25rem;
    color: #fff;
    line-height: 1.875rem;
  }
}

img.float-left {
  max-width: calc(50% - 1.875rem);
  @include for(md down) {
    width: 350px;
    max-width: none;
    float: none;
    display: block;
    margin: 0 auto 15px;
  }
}

img.float-right {
  max-width: calc(50% - 1.875rem);
  @include for(md down) {
    width: 350px;
    max-width: none; 
    float: none;
    display: block;
    margin: 0 auto 15px;
  }
}