$background: rgba($black, .85);

.cookies-info {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  opacity: 0;
  transform: translateY(100px);
  width: 100%;

  padding: rem(12px) rem(20px);

  background: $background;
  z-index: 100;

  text-align: center;

  transition: all .5s;

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }

  > p {
    display: inline-block;
    margin: 0;

    font-size: rem(14px);
    font-weight: 300;
    color: white;

    > a {
      color: white;
      text-decoration: none;
      line-height: 1;
      font-weight: 600;

      &:hover {
        color: white;
        text-decoration: underline;
      }
    }
  }

  > a {
    display: inline-block;

    margin: 0 0 0 rem(20px);
    padding: 0 rem(20px);

    color: white;
    line-height: rem(30px);
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;

    cursor: pointer;

    background: darken($background, 10%);
    transition: background .25s ease;

    &:hover { background: darken($background, 15%); }
    &:active { background: darken($background, 17.5%); }
  }
}
