footer {
  padding: 0 0 30px;
  font-size: 13px;
  
  .footer-box {
    background: $footer-bg;
    color: $footer-regular;
    padding: 55px 30px 65px;
    margin-bottom: 40px;
    
    @include for(sm down) {
      padding: 35px 0;
    }
    
    h2 {
      color: $footer-primary;
      position: relative;
      padding-bottom: 25px;
      border-bottom: 1px solid $footer-regular;
      display: block;
      max-width: 269px;
      
      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 68px;
        height: 1px;
        background: $primary-color;
      }
    }
    
    a {
      color: $footer-regular;
      
      &.mail {
        color: $footer-primary;
      }

      &:hover {
        color: $footer-primary;
      }
    }
    
    .col-md-4 {
      padding: 0 30px;
      
    }
  }
  
  ul {
    padding: 0;
    li {
      list-style: none;
    }
  }
 

  .text-right {
    @include for(md down) {
      text-align: center !important;
    }
  }

  .copyright {
    @include for(sm down) {
      text-align: center;
    }
  }
  
  @media print {
    display: none;
  }
}