.navbar {
  position: relative;
  z-index: 12;
  text-transform: uppercase;
  background: $white;
  padding: 15px 0 5px;
  margin-bottom: -2px;
  font-size: 13px;
}

.navbar-toggle {
      border: none;
      margin-top: 15px;
      padding: 7px 0;
      margin-right: 0;
      
      &:hover, &:focus {
        background: none !important;
      }
      
      .icon-bar {
        background-color: $primary-color !important;
        width: 32px;
        height: 4px;
        border-radius: 0;
      }

}



.navbar-nav {
  margin-left: auto;
  float:right;
  
  @media (max-width: 767px) {
    float: none;
    margin: 0;
    border: 0;
    text-align: center;
    text-transform: none;
  }

  ul {
    li {
      &:not(:first-child) {
        margin-left: 1px;
      }

      a {
        display: inline-block;

        color: $navbar !important;
        padding: rem(23px) rem(12px);
        

        background: transparent;
        border: 1px solid transparent;
        font-weight: 700;
        /*transition: all .05s ease;*/
        transition: color .35s ease, border .35s ease;
        
        @media (min-width: 768px) and (max-width: 825px) {
          padding: rem(23px) rem(6px);
        }
      }

      &.active a,
      a:hover {
        color: $navbar-active !important;
        background: $white;
        transition: color .35s ease;
      }

      &.active a {
        border-width: 1px;
        border-style: solid;
        /*border-color: $navbar-border;*/
        @include for(md down) {
          border: none;
        }
      }
    }

    ul {
      display: none;
    }
  }

}

.navbar-info {
  form {
    input {
      width: rem(275px);
      /*border: 1px solid $grey-light;*/
    }
  }
}

.navbar-social {
  margin-left: rem(30px);

  li {
    &:not(:first-child) {
      margin-left: rem(15px);
    }
  }

  a {
    display: inline-block;
    /*width: $input-height;*/
    /*height: $input-height;*/
    /*line-height: $input-height;*/

    color: $white;
    font-size: rem(28px);
    text-align: center;

    border-radius: 50%;
    background: red;
  }

  [class^="color-"] {
    transition: background .15s ease;
  }

/*  .color-facebook {
    background: $color-facebook;

    &:hover {
      background: darken($color-facebook, 10%);
    }
  }

  .color-youtube {
    background: $color-youtube;

    &:hover {
      background: darken($color-youtube, 10%);
    }
  }

  .color-email {
    background: $color-email;

    &:hover {
      background: darken($color-email, 10%);
    }
  }*/
}

.navbar-brand {
  a {
    display: inline-block;

    svg {
      vertical-align: middle;
    }
  }
}

.js-nav-mobile .navbar-nav>ul {
    width: 100%;
    display: block!important;
    background: $white;
    text-align: center;
}

.js-nav-mobile .navbar-nav>ul>li {
    float: none;
}

.lang-select {
  margin-left: 15px;

  .flag {
    width: 16px;
    height: 11px;
    display: inline-block;
    padding: 23px;

    @include for(sm down) {
      padding: 23px 10px;
    }

/*    &.flag-pl {
      background: url(../assets/images/pl.png) no-repeat center;
    }

    &.flag-en {
      background: url(../assets/images/en.png) no-repeat center;
    }*/
  }
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  background: none !important;
}