.sidebar {
  
  .widget_nav_menu {
  margin-top: -218px;
  margin-bottom: 30px;
  
  @include for(md down) {
    margin-top: 0;
  }

  ul.menu {
    width: 100%;
    background: $white;
    border: 1px solid $sand-light;
    list-style: none;
    padding: 0 !important;
    border-top: 0 !important;

    li {
      &:not(:last-child) {
        border-bottom: 1px solid $sand-light;
      }

      a {
        display: block;
        padding: 15px 35px;
        color: $black;
        text-transform: uppercase;
        font-weight: 600;
      }

      &.current-menu-item a,
      &:hover a {
        color: $white;
        background: $primary-color
      }
    }

    ul {
      display: none;
    }
  }

}
  
  .widget {
    margin-left: 21px;
    
    @include for(md down) {
      margin-left: 0;
    }
  }

  .box {
    margin-left: 21px;

      &:nth-child(odd) {
    @include for(md down) {
      margin-right: 0;
    }
  }

      @include for(md down) {
      margin-left: 15px;
    }
    @include for(sm down) {
      margin-left: 0;
    }
  }

  .box-white {
    background: $white;
    border: 1px solid $sand-light;
    padding: 35px 35px 36px;
    margin-bottom: 30px;
    /*width: 370px;*/
    

    @include for(md down) {
      float: left;
      margin-left: 0;
      margin-right: 15px;
      width: 100%;
    }

    h2 {
      margin-bottom: 0;

      &:nth-of-type(2) {
        margin-top: 15px;
      }
    }

    p {
      color: $sand-dark;
      font-size: 13px;
    }
  }

  .box-sand {
    display: block;
    background: $sand-dark;
    padding: 30px 35px 33px;
    margin-bottom: 30px;
    position: relative;
    /*width: 370px;*/
    transition: background .25s ease;
  
    &:hover {
      background: lighten($sand-dark, 3%);
      transition: background .25s ease;
    }

    @include for(md down) {
      float: left;
      margin-left: 0;
      margin-right: 15px;
      width: 100%;
    }

    &:after {
      content: "\e902";
      font-family: "icons";
      font-size: 38px;
      color: $white;
      display: block;
      position: absolute;
      bottom: 35px;
      right: 19px;
      width: 50px;
      height: 50px;
    }

    h2 {
      color: $white;
      margin: 5px 0 3px;
      line-height: 40px;
    }

    p {
      color: $sand-lightest;
      font-size: 13px;
      margin-bottom: 5px;
    }
  }

  @include for(md up) {
    .nav-aside {
      &:first-child {
        margin-top: -218px;
      }
    }
  }

  .contact {
    .alert {
      margin-top: 10px;
    }
    .form-content {
      margin-top: 10px;
    }
    input[type=email], input[type=number], input[type=password], input[type=tel], input[type=text], select, textarea {
      border: 1px solid $sand-light;
      height: 2.8125rem;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: #fff;
      color: #000;
      padding-left: .9375rem;
      padding-right: .9375rem;
      box-sizing: border-box;
      width: 100%;
      margin-top: .3125rem;
    }
    textarea {
      padding-top: .75rem;
      height: 12.5rem;
      resize: none;
    }
    button[type=submit] {
      margin-top: 3px;
      &:focus {
            outline: none;
      }
    }
  }



}


