.slider-wrapper {
  background: url(../images/slider.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
  margin-bottom: 30px;

  .wrapper {
    position: relative;
  }

  .lead {
    display: inline-block;
    /*background: $slider-black;*/
    color: $primary-color;
    padding: 25px 25px 25px 0;
    max-width: 274px;
    position: absolute;
    top: 0;
    left: 30px;

    /*    &:after {
          content: "";
          display: block;
          width: 376px;
          height: 162px;
          background: $slider-black;
          position: absolute;
          top: 0;
          left: -376px;
        }*/

    h1 {
      margin-bottom: 10px;

    }

    p {
      /*color: $primary-color;*/
      font-size: 14px;
    }
  }

  .ribbon {
    display: inline-block;
    background: $slider-red;
    color: $white;
    position: absolute;
    top: 0;
    right: 26px;
    width: 370px;
    height: 400px;
    padding: 60px 110px 60px 59px;

/*    @media all and (max-width: 1199px) {
      width: 300px;
      padding: 60px 50px 60px 40px;
    }*/

    @include for(sm down) {
      display: none;
    }

    .ribbon-unit {
      /*display: block;*/
      display: table;
      height: 50px;
      padding-left: 70px;
      margin-bottom: 30px;
      color: $white;
      position: relative;

      &:after {
        display: block;
        content: "\e901";
        font-family: "icons";
        border: 1px solid $slider-white;
        background: $slider-transparent;
        position: absolute;
        top: -2px;
        left: 0;
        width: 50px;
        height: 50px;
        font-size: 10px;
        text-align: center;
        line-height: 50px;
        transition: border .25s ease, background .25s ease, color .25s ease;
      }

      &:hover:after {
        border: 1px solid $white;
        background: $white;
        color: $primary-color;
        transition: border .25s ease, background .25s ease, color .25s ease;
      }

      h2 {
        margin-bottom: 2px;
        display: table-cell;
        vertical-align: middle;
      }

      p {
        font-size: 13px;
        opacity: 0.6;

        display: table-row;
        vertical-align: middle;
      }
    }
  }

}