.top-bar {
  background: $white;
  border-bottom: 1px solid $grey-light;

  @include for(md down) {
    border-top: 1px solid $grey-light;
  }

  @media print {
    display: none;
  }

  .above-link {
    display: inline-block;
    border-right: 1px solid $grey-light;
    min-width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    padding: 0 15px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    background: $white;
    color: $black;
    position: relative;
    transition: background .25s ease, color .25s ease;

    @include for(sm down) {
      min-width: 43px;
      padding: 0 9px;
    }

    &:hover {
      background: $sand-dark;
      color: $white;
      transition: background .25s ease, color .25s ease;

      .icon-home, .icon-cart, .icon-envelope, .icon-down {
        color: $white;
        transition: color .25s ease;
      }
    }

    &:first-of-type {
      border-left: 1px solid $grey-light;
    }
    .icon-home, .icon-cart {
      color: $sand-dark;
      font-size: 18px;
      position: relative;
      top: 2px;
      transition: color .25s ease;
    }

    .icon-envelope {
      color: $sand-dark;
      padding-right: 10px;
      font-size: 18px;
      position: relative;
      top: 3px;
      transition: color .25s ease;
    }
    .icon-down {
      color: $sand-dark;
      padding-left: 10px;
      font-size: 10px;
      position: relative;
      top: -1px;
      transition: color .25s ease;
    }
  }

  .above-link.menu {
    border-left: none !important;
    cursor: pointer;
    width: 115px;

    &:hover {
      .sub-menu {
        display: block;
        max-height: 98px;
        transition: max-height .25s ease;
      }
    }
  }

  .sub-menu {
    overflow: hidden;
    max-height: 0;
    position: absolute;
    width: 115px;
    top: 50px;
    left: -1px;
    margin: 0;
    padding: 0;
    background: $white;
    border-top: none;
    border-bottom: 1px solid $grey-light;
    border-left: 1px solid $grey-light;
    border-right: 1px solid $grey-light;
    z-index: 20;
    transition: max-height .25s ease;

    li {
      padding: 0;
      display: block;
      line-height: 18px;
      

      a {
        display: block;
        padding: 15px 26px;
        font-weight: 700;
        background: $white;
        color: $black;
        transition: background .25s ease, color .25s ease;

        &:hover {
          background: $sand-dark;
          color: $white;
          transition: background .25s ease, color .25s ease;
        }
      }

    }
  }

}