//
// Base styles
// --------------------------------------------------


* {
  backface-visibility: hidden;
}


address {
  font-style: normal;
}

body {
  background: $background;
  
  &.printable {
    background: $white;
    margin: 35px 0;
  }
}


section {
  & {
    *zoom: 1;
  }

  &:after, &:before {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}


img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}


a {
  color: $primary-color;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;

  &:hover, &:focus {
    color: darken($primary-color, 10%);
     text-decoration: none !important;
  }

  @include for(sm up) {
    &[href^="tel:"] {
      pointer-events: none;
    }
  }
}

.nopadding {
  padding: 0 !important;
}

.nomargin {
  margin: 0 !important;
}

.logo {
  display: inline-block;
  text-indent: -9999px;
  width: 200px;
  height: 65px;
  background: url(../images/logo.png);
  background-repeat: no-repeat;
  background-position: center;
}

ul.unstyled {
  
  padding: 0;
  
  li {
    list-style: none;  
  }
  
}

#map-canvas {
  
  height: 360px;
  margin-bottom: 20px;
}



::-moz-selection {
  color: $white;
  background: $primary-color;
}

::selection {
  color: $white;
  background: $primary-color;
}
