
img {
  &[class^="float-"] {
    margin-bottom: rem(30px);
  }

  @include for(md up) {
    &.float-right {
      margin-left: rem(30px);
    }

    &.float-left {
      margin-right: rem(30px);
    }
  }

  @include for(md down) {
    &[class^="float-"] {
      float: none !important;
      margin-left: 0 !important;
      margin-right: 0 !important;

      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
