//
// Flex-Grid
// --------------------------------------------------


// Defaults
$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 1024px,
  lg: 1280px,
  xl: 1440px,
) !default;

$grid-width: 1340px !default;
$grid-columns: 12 !default;
$grid-columns-gutter: 30px !default;


// Function for finding breakpoints
@function breakpoint($key) {
  @if map-has-key($grid-breakpoints, $key) {
    @if $key == 'xs' {
      @warn "Breakpoint: '#{$key}' is equal to 0! Use breakpoint 'sm' instead.";
    }

    @return rem(map-get($grid-breakpoints, $key));
  } @else {
    @warn "Unkown breakpoint: #{$key}.";
  }
}


// Base
* {
  box-sizing: border-box;
}


// Flex
@mixin flex($flex: true, $direction: false, $wrap: false, $justify: false, $align: false) {
  @if $flex {
    display: flex;
  }

  @if $direction {
    flex-direction: $direction;
  }

  @if $wrap {
    flex-wrap: $wrap;
  }

  @if $justify {
    justify-content: $justify;
  }

  @if $align {
    align-items: $align;
  }
}


// Grid wrapper
@mixin wrapper($width: $grid-width) {
  @if $width == 100% {

    width: 100%;

  } @else {

    max-width: rem(($width + ($grid-columns-gutter * 2)));

    &:not(.row) {
      width: 100%;
    }

  }

  margin: {
    left: auto;
    right: auto;
  };

  padding: {
    left: rem(($grid-columns-gutter / 2));
    right: rem(($grid-columns-gutter / 2));
  }

  @include for(sm up) {
    padding: {
      left: rem($grid-columns-gutter);
      right: rem($grid-columns-gutter);
    }
  }
}

.wrapper {
  @include wrapper;
}


// Grid rows
@mixin row($direction: row, $wrap: wrap, $justify: space-between) {
  width: 100%;
  @include flex($direction: $direction, $wrap: $wrap, $justify: $justify);
}

.row {
  @include row;
}


// mixin spacing for row-spacing classes
@mixin row-spacing($gutter: $grid-columns-gutter, $reverse: false) {
  @if $gutter > 1 {
    justify-content: space-between;
    flex-wrap: nowrap;

    > *:not([class*="-12"]) {
      margin-left: rem(($gutter / 2));
      margin-right: rem(($gutter / 2));

      @if $reverse == true {
        &:first-child { margin-right: 0; }
        &:last-child { margin-left: 0; }
      } @else {
        &:first-child { margin-left: 0; }
        &:last-child { margin-right: 0; }
      }
    }
  } @else {
    @error "Wrong gutter width: #{$gutter}!";
  }
}


// Main grid function
[class^="col-"],
[class*=" col-"] {
  width: 100%;
}


@each $namespace, $breakpoint in $grid-breakpoints {

  // Create columns classes
  @for $i from 1 through $grid-columns {
    @if $breakpoint == 0 {

      .col-#{$namespace}-#{$i} {
        width: percentage($i / $grid-columns);
      }

    } @else {

      .col-#{$namespace}-#{$i} {
        @include for($namespace up) {
          width: percentage($i / $grid-columns);
        }
      }

    }

    // Ordering classes
    .col-order-#{$i} {
      order: $i;
    }
  }

  // Create hiding classes
  // e.g. '.hide-sm' will be hidden for max-width: 480px, .hide-md hidden for max-width 1024px, etc.
  @if $breakpoint > 1 {
    @include for($namespace down) {
      .hide-#{$namespace}-down {
        display: none !important;
      }
    }

    @include for($namespace up) {
      .hide-#{$namespace}-up {
        display: none !important;
      }
    }
  }

  // Create row spacings
  // e.g. .row-md-spacing -> from min-width: 1024px columns will have gutter between
  @if $breakpoint > 1 {

    .row-#{$namespace}-spacing {
      @include for($namespace up) {
        @include row-spacing;
      }
    }

    .row-#{$namespace}-spacing-reverse {
      @include for($namespace up) {
        @include row-spacing($reverse: true);
      }
    }

  }
}


// Positioning
.align-top {
  @include flex($align: flex-start);
}

.align-left {
  @include flex($justify: flex-start);
}

.align-right {
  @include flex($justify: flex-end);
}

.align-bottom {
  @include flex($align: flex-end);
}

.align-middle {
  @include flex($align: center); // vertical-center
}

.align-center {
  width: 100%;
  @include flex($justify: center); // horizontal-center
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.hide {
  display: none;
}
