.button {
  display: block;
  background: $primary-color;
  text-transform: uppercase;
  padding: 14px 0;
  color: $white;
  text-align: center;
  font-weight: 700;
  font-size: 13px;
  width: 100%;
  border: none;
  transition: background .25s ease;
  
  &:hover {
    color: $white;
    background: lighten($primary-color, 10%);
    transition: background .25s ease;
  }
}