.wpcf7-form {

  max-width: 800px;
  margin: 0 auto;

  input[type=email], input[type=number], input[type=password], input[type=tel], input[type=text], select, textarea {
    border: 1px solid $sand-light;
    height: 2.8125rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff;
    color: #000;
    padding-left: .9375rem;
    padding-right: .9375rem;
    box-sizing: border-box;
    width: 100%;
    margin-top: .3125rem;
  }
  textarea {
    padding-top: .75rem;
    height: 12.5rem;
    resize: none;
  }
  .wpcf7-list-item-label {
    cursor: pointer;
  }
  button[type=submit] {
    margin-top: 3px;
    &:focus {
      outline: none;
    }
  }
}