//
// Icons
// --------------------------------------------------


// Font-face
@font-face {
   font-family: 'icons';
   font-weight: normal;
   font-style: normal;
   src: url('../fonts/icomoon.eot?r136ue');
   src: url('../fonts/icomoon.eot?r136ue#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?r136ue') format('truetype'),
        url('../fonts/icomoon.woff?r136ue') format('woff'),
        url('../fonts/icomoon.svg?r136ue#icomoon') format('svg');
 }


// Icon base
%icon-base {
  font-family: 'icons';
  font-weight: normal;
  font-style: normal;
  font-variant: normal;

  text-transform: none;
  line-height: 1;
  speak: none;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:before {
    padding: 1px;
  }
}

[class^="icon-"] {
  @extend %icon-base;
}


// Includes
@mixin icon($name, $code) {
  .icon-#{$name} {
    &:before {
      content: $code;
    }
  }
}

$icons: (
down: "\e900",
left: "\e901",
cart: "\e902",
envelope: "\e903",
home: "\e904",
);

@each $name, $code in $icons {
  @include icon($name, $code);
}

@function icon($name) {
  @if map-has-key($icons, $name) {
    @return map-get($icons, $name);
  }

  @warn "Unkown icon: '#{$name}'!";
}




